{% extends 'main/content.html' %}

{% block content %}
<h1> Курс валют </h1>

<div class="demo">
    {% for el in data %}
        <input class="hide" id={{el.value}} type="checkbox">
        <input id="rub" for={{el.value}} type="text">
        <input id="valute" for={{el.value}} type="text">
        <div>
            {{ el.value }}
        </div>
        <br/>
        <br/>
    {% endfor %}
</div>
<script>
    var input = document.getElementById('rub');
    input.oninput = function() {
    document.getElementById('valute').innerHTML = input.value;
  };
</script>
{% endblock %}
